<div class="box outer">
  <div class="box inner1">
    <div class="box inner2">
      <div class="box inner3">
        <div class="box inner4">
          <div class="box inner5">
            <div class="box inner6">
              <div class="box inner7">
                <div class="box inner8">
                  <div id="banner">
                    <p class="rotatingText">
                      <span class="rotatingText-adjective">angular </span>
                      <span class="rotatingText-adjective">training</span>
                      <span class="rotatingText-adjective">assignment</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
