<div class="box outer">
  <div class="box inner1">
    <div class="box inner2">
      <div class="box inner3">
        <div class="box inner4">
          <div class="box inner5">
            <div class="box inner6">
              <div class="box inner7">
                <div class="box inner8">
                  <div id="banner">
                    <img src="https://kiosk-dot-codelabs-site.appspot.com/codelabs/mobile-vision-ocr/img/c5134dae01ad22a5.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
