<div class="linkContainer">
  <div>
    <button>
      <a routerLink="/floatinBanner" routerLinkActive="active-link"
        >Floating Banner</a
      >
    </button>
  </div>
  <div>
    <button>
      <a routerLink="/cartView" routerLinkActive="active-link">Cart View</a>
    </button>
  </div>
  <div>
    <button>
      <a routerLink="/timer" routerLinkActive="active-link">Timer</a>
    </button>
  </div>
  <div>
    <button>
      <a routerLink="/timerWithService" routerLinkActive="active-link"
        >Timer with service</a
      >
    </button>
  </div>
  <div>
    <button>
      <a routerLink="/studentMarks" routerLinkActive="active-link"
        >Student martks table</a
      >
    </button>
  </div>
  <div>
    <button>
      <a routerLink="/dynamicDiv" routerLinkActive="active-link"
        >load dynamic div</a
      >
    </button>
  </div>
</div>
<router-outlet></router-outlet>
