<button>
  <a routerLink="/floatinBanner" routerLinkActive="active-link"
    >Floating Banner</a
  >
</button>
<button>
  <a routerLink="/cartView" routerLinkActive="active-link">Cart View</a>
</button>
<button><a routerLink="/timer" routerLinkActive="active-link">Timer</a></button>
<button>
  <a routerLink="/timerWithService" routerLinkActive="active-link"
    >Timer with service</a
  >
</button>
<button>
  <a routerLink="/studentMarks" routerLinkActive="active-link"
    >Student martks table</a
  >
</button>
<button>
  <a routerLink="/dynamicDiv" routerLinkActive="active-link"
    >load dynamic div</a
  >
</button>
<router-outlet></router-outlet>
