.timerLog{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}